<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | SSOMA</title>
</head>
<body class="bg-black flex items-center justify-center min-h-screen relative">
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-sm z-10 relative">
        <div class="flex justify-center mb-6">
            <img src="/images/logo.png" alt="Logo" class="w-24 h-auto" />
        </div>
        <h2 class="text-2xl font-bold text-info text-center mb-6">
            Iniciar Sesión
        </h2>
        <form action="/login" method="POST">
            <div class="mb-4">
                <label for="userType" class="block text-sm font-medium text-gray-700 mb-1">Tipo de Usuario</label>
                <select id="userType" name="userType" class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-blue-300">
                    <option value="admin">Empresas</option>
                    <option value="user">Personas</option>
                </select>
            </div>
            <div class="mb-4">
                <label for="username" class="block text-sm font-medium text-gray-700 mb-1">Usuario</label>
                <input type="text" id="username" name="username" required 
                    class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-blue-300">
            </div>
            <div class="mb-6">
                <label for="password" class="block text-sm font-medium text-gray-700 mb-1">Contraseña</label>
                <input type="password" id="password" name="password" required class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-blue-300">
            </div>
            <button type="submit"
                class="w-full bg-[#003C8D] text-white py-2 px-4 rounded-lg hover:bg-[#03045E] transition font-semibold">
                Entrar
            </button>
        </form>

        <div class="text-center mt-6">
            <a href="/recover-password" class="text-sm text-[#003C8D] hover:underline">¿Deseas recuperar tu contraseña?</a>
            <br>
            <a href="/resend-authorization" class="text-sm text-[#003C8D] hover:underline">Reenviar autorización de registro</a>
        </div>
    </div>

    <!-- Imagen de fondo que ocupa el 100% del alto y ancho -->
    <img src="/images/fondo-login-background.png" alt="Fondo" class="absolute top-0 left-0 w-full h-full object-cover z-0">
</body>
</html>