<section class="py-16 bg-gray-100">
    <div class="container mx-auto px-6">
        <div class="text-center mb-12">
            <p class="font-bold text-info uppercase">Nuestra esencia</p>
            <h2 class="text-3xl sm:text-4xl font-bold text-info leading-tight">
                Misión, Visión y Valores
            </h2>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
            <div class="p-6 bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
                <div class="flex justify-center mb-4">
                    <img src="/images/certificado.png" alt="Misión" class="h-auto w-auto object-contain">
                </div>
                <h3 class="text-2xl font-bold text-primary mb-2 text-center">Misión</h3>
                <p class="text-gray-700 text-sm sm:text-base leading-relaxed text-center">
                    Brindar soluciones innovadoras y personalizadas en Gestión, Seguridad y Capacitación, garantizando la excelencia y el compromiso con nuestros clientes.
                </p>
            </div>

            <div class="p-6 bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
                <div class="flex justify-center mb-4">
                    <img src="/images/curso-online.png" alt="Visión" class="h-auto w-auto object-contain">
                </div>
                <h3 class="text-2xl font-bold text-primary mb-2 text-center">Visión</h3>
                <p class="text-gray-700 text-sm sm:text-base leading-relaxed text-center">
                    Convertirnos en líderes en consultoría de Seguridad y Gestión, marcando una diferencia significativa en la industria.
                </p>
            </div>

            <div class="p-6 bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
                <div class="flex justify-center mb-4">
                    <img src="/images/calidad.png" alt="Valores" class="h-auto w-auto object-contain">
                </div>
                <h3 class="text-2xl font-bold text-primary mb-2 text-center">Valores</h3>
                <p class="text-gray-700 text-sm sm:text-base leading-relaxed text-center">
                    Innovación, excelencia, compromiso, integridad y enfoque centrado en las personas.
                </p>
            </div>
        </div>
    </div>
</section>