<section class="p-8 bg-white max-w-7xl mx-auto mt-5">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
        <div class="flex flex-col">
            <div class="bg-blue-100 text-primary font-bold px-6 py-4 mb-4 rounded-lg w-full">
                IMPLEMENTACIÓN Y ADMINISTRACIÓN DEL SISTEMA DE GESTIÓN
            </div>
            <p class="text-gray-700 mb-6">
                Ejecución en base a diferentes requisitos normativos exigidos, así como por ejemplo la Ley 29783 y sus reglamentos, ISO 45001:2018, ISO 14001:2015, ISO 9001:2015, ISO 26000:2010, Sistema BASC, entre otras.
            </p>
            <ul class="text-gray-700 space-y-2">
                <li class="flex items-start space-x-2">
                    <span class="text-secondary font-bold">●</span>
                    <span>
                        Implementación del Sistema de gestión de Medio ambiente, Seguridad y Salud en el trabajo (SST).
                    </span>
                </li>
                <li class="flex items-start space-x-2">
                    <span class="text-secondary font-bold">●</span>
                    <span>
                        Implementación del Sistema de gestión de Calidad y/o Responsabilidad Social.
                    </span>
                </li>
                <li class="flex items-start space-x-2">
                    <span class="text-secondary font-bold">●</span>
                    <span>
                        Administración del Sistema de gestión de Medio ambiente, Seguridad y Salud en el trabajo (SST).
                    </span>
                </li>
                <li class="flex items-start space-x-2">
                    <span class="text-secondary font-bold">●</span>
                    <span>
                        Administración del Sistema de gestión de Calidad y/o Responsabilidad Social.
                    </span>
                </li>
            </ul>
            <a class="mt-6 bg-info text-white px-6 py-2 rounded-lg font-semibold hover:bg-primary transition text-center duration-300">
                COTIZAR
            </a>
        </div>
        <div class="relative flex flex-col items-center bg-black p-6 rounded-lg shadow-lg">
            <div class="absolute inset-0 bg-cover bg-center opacity-15 rounded-lg" style="background-image: url('../images/demo.jpg');"></div>
            <blockquote class="relative text-white italic text-center text-sm mb-6 z-10">
                “Nuestra flexibilidad y calidad ajustada a tu necesidad”
            </blockquote>
            <img src="../images/demo.jpg" alt="Trabajadores de seguridad y salud" class="relative w-full max-w-xs h-auto rounded-lg shadow-md mb-4 z-10" />
            <div class="relative text-white text-center font-bold z-10">
                SSOMA <br />
                <span class="text-sm font-normal">
                    MÁS QUE REDUCIR RIESGOS, ASEGURAMOS TU FUTURO
                </span>
            </div>
        </div>
    </div>
</section>