<nav class="bg-white shadow-md py-4">
    <div class="container mx-auto flex items-center justify-between px-6">
        <a href="/">
            <img src="/images/logo.png" alt="Logo SSOMA" class="h-14">
        </a>
        <div class="hidden lg:flex items-center justify-end flex-grow space-x-8 md:space-x-4 text-gray-700 font-semibold text-lg">
            <a href="/" class="hover:text-primary">
                INICIO
            </a>
            <a href="/nosotros" class="hover:text-primary">
                NOSOTROS
            </a>
            <a href="/servicios" class="hover:text-primary">
                SERVICIOS
            </a>
            <a href="/contacto" class="hover:text-primary">
                CONTACTO
            </a>
            <a href="/valida-tu-certificado" class="hover:text-primary">
                CERTIFICADOS
            </a>
        </div>
        <div class="ml-6 hidden lg:block">
            <a href="/intranet" class="px-4 py-2 bg-info text-white rounded hover:bg-primary">
                INTRANET
            </a>
        </div>
        <button id="menu-button" class="lg:hidden text-primary focus:outline-none">
            <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
    </div>
    <div id="mobile-menu" class="lg:hidden hidden bg-white text-center">
        <a href="/" class="block px-4 py-2 text-info hover:bg-gray-100">
            INICIO
        </a>
        <a href="/nosotros" class="block px-4 py-2 text-info hover:bg-gray-100">
            NOSOTROS
        </a>
        <a href="/servicios" class="block px-4 py-2 text-info hover:bg-gray-100">
            SERVICIOS
        </a>
        <a href="/contacto" class="block px-4 py-2 text-info hover:bg-gray-100">
            CONTACTO
        </a>
        <a href="/trabaja-con-nosotros" class="block px-4 py-2 text-info hover:bg-gray-100">
            TRABAJA CON NOSOTROS
        </a>
        <a href="/valida-tu-certificado" class="block px-4 py-2 text-info hover:bg-gray-100">
            VALIDA TU CERTIFICADO
        </a>
        <a href="/intranet" class="block px-4 py-2 text-white bg-info hover:bg-primary text-center rounded mt-3">
            INTRANET
        </a>
    </div>
    <script>
        const menuButton = document.getElementById('menu-button');
        const mobileMenu = document.getElementById('mobile-menu');
        menuButton.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
        });
    </script>
</nav>