<nav class="bg-white shadow-md py-4">
    <div class="container mx-auto flex items-center justify-between px-6">
        <!-- Logo como imagen -->
        <a href="/">
            <img src="/images/logo.png" alt="Logo SSOMA" class="h-14">
        </a>

        <!-- Opciones del menú (ocultas en dispositivos móviles, alineadas a la derecha) -->
        <div class="hidden md:flex items-center justify-end flex-grow space-x-8 md:space-x-4 text-gray-700">
            <a href="/" class="hover:text-gray-900">INICIO</a>
            <a href="/nosotros" class="hover:text-gray-900">NOSOTROS</a>
            <a href="/servicios" class="hover:text-gray-900">SERVICIOS</a>
            <a href="/contacto" class="hover:text-gray-900">CONTACTO</a>
            <a href="/valida-tu-certificado" class="hover:text-gray-900">CERTIFICADOS</a>
        </div>

        <!-- Botón INTRANET separado del menú -->
        <div class="ml-6 hidden md:block"> <!-- Margen izquierdo para crear espacio -->
            <a href="/intranet" class="px-4 py-2 bg-primary text-white rounded hover:bg-info">INTRANET</a>
        </div>

        <!-- Menú móvil (solo visible en dispositivos móviles) -->
        <button id="menu-button" class="md:hidden text-gray-800 focus:outline-none">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
    </div>

    <!-- Menú móvil desplegable -->
    <div id="mobile-menu" class="md:hidden hidden bg-white">
        <a href="/" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">INICIO</a>
        <a href="/nosotros" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">NOSOTROS</a>
        <a href="/servicios" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">SERVICIOS</a>
        <a href="/contacto" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">CONTACTO</a>
        <a href="/trabaja-con-nosotros" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">TRABAJA CON NOSOTROS</a>
        <a href="/valida-tu-certificado" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">VALIDA TU CERTIFICADO</a>
        <a href="/intranet" class="block px-4 py-2 text-white bg-primary hover:bg-blue-700 text-center rounded">INTRANET</a>
    </div>

    <!-- Script para abrir/cerrar el menú móvil -->
    <script>
        const menuButton = document.getElementById('menu-button');
        const mobileMenu = document.getElementById('mobile-menu');

        menuButton.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
        });
    </script>
</nav>