<section class="p-8 md:p-16 max-w-6xl mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
        <div class="lg:pr-8 lg:text-left flex items-center">
            <div>
                <h2 class="text-2xl lg:text-3xl font-bold text-primary leading-tight">
                    Expertos en la gestión de Seguridad y Salud en el trabajo, a todo nivel.
                </h2>
                <p class="mt-4 text-gray-600 text-left">
                    <span class="font-bold">Objetivo:</span> 
                    Convertimos en los socios estratégicos de nuestros clientes, generando una cultura de seguridad y salud en el trabajo en toda la organización.
                </p>
                <p class="mt-4 text-gray-600 text-left">
                    <span class="font-bold">Filosofía:</span>
                    "Nada es tan importante, ni tan urgente, que no se pueda hacer con seguridad".
                </p>
                <button class="mt-6 bg-info text-white hover:bg-primary px-6 py-2 font-semibold rounded-lg transition duration-300">
                    Solicitar Información
                </button>
            </div>
        </div>
        <div class="flex items-center justify-center lg:justify-start w-full">
            <img aria-hidden="true" alt="Trabajadores de seguridad y salud" src="/images/demo.jpg" class="w-full h-[250px] rounded-lg shadow-md" />
        </div>
    </div>
</section>