<section class="relative container mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-2">
        <div class="p-6 md:px-16 lg:px-20 xl:py-32 xl:px-24">
            <h2 class="text-2xl text-left lg:text-3xl xl:text-left font-semibold text-info">
                Expertos en la Gestión de Seguridad y Salud en el Trabajo, a Todo Nivel
            </h2>
            <p class="text-base text-left md:text-md xl:text-left mt-2 text-gray-600">
                <strong>
                    Objetivo:
                </strong>
                Convertimos en los socios estratégicos de nuestros clientes. Generando una cultura de seguridad y salud en el trabajo en toda la organización.
            </p>
            <p class="text-base text-left md:text-md xl:text-left mt-2 text-gray-600">
                <strong>
                    Filosofía:
                </strong>
                Nada es tan importante, ni tan urgente, que no se pueda hacer con seguridad.
            </p>
        </div>
        <div class="relative hidden lg:block">
            <img src="/images/demo3.png" alt="Logros imagen" class="object-cover w-full h-full sm:px-6 md:px-14" />
            <div class="absolute inset-0 bg-gradient-to-r from-white to-transparent hidden lg:block"></div>
        </div>
    </div>
</section>