<section class="relative mx-auto">
    <div class="grid grid-cols-1 xl:grid-cols-2">
        <!-- Contenido de texto e íconos -->
        <div class="p-6 md:py-16 xl:py-32 xl:px-24">
            <h2 class="text-3xl text-center md:text-4xl lg:text-4xl xl:text-left font-semibold text-primary mb-2">
                Nuestros logros
            </h2>
            <p class="text-base text-center md:text-lg lg:text-md xl:text-left mb-8 text-gray-600">
                Los que están lo suficientemente locos como para pensar que pueden cambiar el mundo, son los que lo hacen.
            </p>
            <!-- Sección responsiva de logros -->
            <div class="grid grid-cols-2 gap-4 md:gap-6">
                <!-- Cada logro -->
                <div class="flex flex-col text-center">
                    <div class="bg-blue-200 text-info p-4 md:p-6 lg:p-8 rounded-full mb-4 md:mb-6">
                        <i class="fas fa-calendar-check text-xl md:text-3xl lg:text-5xl"></i>
                    </div>
                    <h3 class="text-2xl md:text-3xl lg:text-4xl font-semibold">12+</h3>
                    <p class="text-sm md:text-2xl lg:text-xl text-gray-600 mt-1">Años a su servicio.</p>
                </div>
                <div class="flex flex-col text-center">
                    <div class="bg-blue-200 text-info p-4 md:p-6 lg:p-8 rounded-full mb-4 md:mb-6">
                        <i class="fas fa-users text-xl md:text-3xl lg:text-5xl"></i>
                    </div>
                    <h3 class="text-2xl md:text-3xl lg:text-4xl font-semibold">20</h3>
                    <p class="text-sm md:text-2xl lg:text-xl text-gray-600 mt-1">
                        Profesionales comprometidos y especialistas.
                    </p>
                </div>
                <div class="flex flex-col text-center">
                    <div class="bg-blue-200 text-info p-4 md:p-6 lg:p-8 rounded-full mb-4 md:mb-6">
                        <i class="fas fa-handshake text-xl md:text-3xl lg:text-5xl"></i>
                    </div>
                    <h3 class="text-2xl md:text-3xl lg:text-4xl font-semibold">500+</h3>
                    <p class="text-sm md:text-2xl lg:text-xl text-gray-600 mt-1">
                        Clientes satisfechos.
                    </p>
                </div>
                <div class="flex flex-col text-center">
                    <div class="bg-blue-200 text-info p-4 md:p-6 lg:p-8 rounded-full mb-4 md:mb-6">
                        <i class="fas fa-briefcase text-xl md:text-3xl lg:text-5xl"></i>
                    </div>
                    <h3 class="text-2xl md:text-3xl lg:text-4xl font-semibold">2000+</h3>
                    <p class="text-sm md:text-2xl lg:text-xl text-gray-600 mt-1">
                        Servicios realizados en distintos rubros.
                    </p>
                </div>
            </div>
        </div>
        <!-- Imagen responsiva con gradiente -->
        <div class="relative hidden xl:block">
            <img src="/images/demo4.png" alt="Logros imagen" class="object-cover w-full h-full" />
            <div class="absolute inset-0 bg-gradient-to-r from-white to-transparent"></div>
        </div>
    </div>
</section>
