<section class="bg-white py-16">
    <div class="container mx-auto px-6">
        <div class="text-center mb-32">
            <p class="text-info">
                Nuestros Servicios
            </p>
            <h2 class="text-2xl font-bold text-info leading-tight">
                PRINCIPALES SERVICIOS
            </h2>
        </div>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-y-24 gap-x-12 justify-center">
            <div class="text-center bg-gradient-to-t from-primary to-secondary p-6 rounded-lg shadow-lg max-w-sm mx-auto">
                <div class="flex justify-center -mt-20 md:-mt-28 lg:-mt-32">
                    <img src="/images/curso-gestion-riesgo-seguridad-salud-trabajo.png" alt="Cursos de Gestión" loading="lazy">
                </div>
                <div class="p-1 text-left mt-8">
                    <h3 class="text-xl font-semibold text-white mb-4 leading-snug">
                        Cursos de Gestión en Seguridad y Salud en el Trabajo
                    </h3>
                    <p class="text-sm text-white mb-4">
                        Safety & Control pone a disposición una gama de diferentes cursos para la formación técnica y específica en Prevención de Riesgos Laborales y en cursos de requerimiento legal.
                    </p>
                    <a href="/cursos" class="text-white font-semibold hover:text-gray-300">
                        Leer más
                    </a>
                </div>
            </div>
            <div class="text-center bg-gradient-to-t from-primary to-secondary p-6 rounded-lg shadow-lg max-w-sm mx-auto">
                <div class="flex justify-center -mt-20 md:-mt-28 lg:-mt-32">
                    <img src="/images/casco-web-2-safety-control.png" alt="Capacitaciones en Alto Riesgo" loading="lazy">
                </div>
                <div class="p-1 text-left mt-8">
                    <h3 class="text-xl font-semibold text-white mb-4 leading-snug">
                        Capacitaciones en Trabajos de Alto Riesgo
                    </h3>
                    <p class="text-sm text-white mb-4">
                        Contamos con una amplia experiencia brindando capacitaciones a diversas empresas y organizaciones.
                    </p>
                    <a href="/capacitaciones" class="text-white font-semibold hover:text-gray-300">
                        Leer más
                    </a>
                </div>
            </div>
            <div class="text-center bg-gradient-to-t from-primary to-secondary p-6 rounded-lg shadow-lg max-w-sm mx-auto">
                <div class="flex justify-center -mt-20 md:-mt-28 lg:-mt-32">
                    <img src="/images/asesoria-sst-seguridad-salud-trabajo.png" alt="Asesorías" loading="lazy">
                </div>
                <div class="p-1 text-left mt-8">
                    <h3 class="text-xl font-semibold text-white mb-4 leading-snug">
                        Asesorías
                    </h3>
                    <p class="text-sm text-white mb-4">
                        Asesoramos en el manejo de las herramientas de gestión del sistema, KPI(s) e indicadores preventivos con la finalidad de implementar una cultura preventiva dentro de su empresa. La Identificación de Peligros y evaluación de riesgos nos conlleva al Diseño de planes de acción, evaluación y control de riesgos laborales.
                    </p>
                    <a href="/asesorias" class="text-white font-semibold hover:text-gray-300">
                        Leer más
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center mt-12">
            <a href="/servicios" class="px-8 py-3 bg-primary text-white rounded-lg hover:bg-info">
                VER MÁS
            </a>
        </div>
    </div>
</section>