<section class="bg-gray-50 p-4 md:p-12 max-w-full mx-auto">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition duration-300">
          <div class="flex justify-center items-center text-info mb-4">
              <i class="fas fa-first-aid fa-2x"></i>
          </div>
          <h3 class="text-xl font-semibold text-gray-800 mb-2 text-center">
              Implementación de Sistema de Gestión de Seguridad y Salud en el Trabajo.
          </h3>
          <p class="text-gray-600 text-center mb-4">
              Breve descripción de esta opción o servicio destacado.
          </p>
          <div class="flex justify-center">
              <button class="bg-info text-white px-4 py-2 rounded-lg font-semibold hover:bg-primary transition">
                  Ver Más
              </button>
          </div>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition duration-300">
          <div class="flex justify-center items-center text-info mb-4">
              <i class="fas fa-people-carry fa-2x"></i>
          </div>
          <h3 class="text-xl font-semibold text-gray-800 mb-2 text-center">
              Tercerización del Servicio de Seguridad y Salud en el Trabajo (SST)
          </h3>
          <p class="text-gray-600 text-center mb-4">
              Otro texto que resalta el contenido clave de esta sección.
          </p>
          <div class="flex justify-center">
              <button class="bg-info text-white px-4 py-2 rounded-lg font-semibold hover:bg-primary transition">
                  Ver Más
              </button>
          </div>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition duration-300">
          <div class="flex justify-center items-center text-info mb-4">
              <i class="fas fa-book fa-2x"></i>
          </div>
          <h3 class="text-xl font-semibold text-gray-800 mb-2 text-center">
              Servicio de Auditorías de la Ley de Seguridad y Salud en el Trabajo con Auditores Escritos en Ministerio de trabajo (MINTRA) en Cumplimiento del D.S. N° 014-2013-TR.
          </h3>
          <p class="text-gray-600 text-center mb-4">
              Una tercera descripción para detallar aspectos únicos.
          </p>
          <div class="flex justify-center">
              <button class="bg-info text-white px-4 py-2 rounded-lg font-semibold hover:bg-primary transition">
                  Ver Más
              </button>
          </div>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition duration-300">
          <div class="flex justify-center items-center text-info mb-4">
              <i class="fas fa-street-view fa-2x"></i>
          </div>
          <h3 class="text-xl font-semibold text-gray-800 mb-2 text-center">
              Certificaciones de Competencias Laborales
          </h3>
          <p class="text-gray-600 text-center mb-4">
              Contenido adicional que destaca un servicio o producto.
          </p>
          <div class="flex justify-center">
              <button class="bg-info text-white px-4 py-2 rounded-lg font-semibold hover:bg-primary transition">
                  Ver Más
              </button>
          </div>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition duration-300">
          <div class="flex justify-center items-center text-info mb-4">
              <i class="fas fa-chalkboard-teacher fa-2x"></i>
          </div>
          <h3 class="text-xl font-semibold text-gray-800 mb-2 text-center">
              Capacitación en SST
          </h3>
          <p class="text-gray-600 text-center mb-4">
              Inspecciones de seguridad, trabajos de alto riesgo (trabajos en altura, trabajos en caliente, espacios confinados, etc.), Lucha contra incendios y manejo de extintores, ergonomía en el trabajo, plan de contingencias, la seguridad basada en la conducta, primeros auxilios, materiales peligrosos MATPEL.
          </p>
          <div class="flex justify-center">
              <button class="bg-info text-white px-4 py-2 rounded-lg font-semibold hover:bg-primary transition">
                  Ver Más
              </button>
          </div>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition duration-300">
          <div class="flex justify-center items-center text-info mb-4">
              <i class="fas fa-book fa-2x"></i>
          </div>
          <h3 class="text-xl font-semibold text-gray-800 mb-2 text-center">
              Conformación del Comité de Seguridad y Salud en el Trabajo - Comité de Hostigamiento
          </h3>
          <p class="text-gray-600 text-center mb-4">
              Elemento final de la lista con su respectivo botón.
          </p>
          <div class="flex justify-center">
              <button class="bg-info text-white px-4 py-2 rounded-lg font-semibold hover:bg-primary transition">
                  Ver Más
              </button>
          </div>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition duration-300">
        <div class="flex justify-center items-center text-info mb-4">
            <i class="fas fa-book fa-2x"></i>
        </div>
        <h3 class="text-xl font-semibold text-gray-800 mb-2 text-center">
            Plataforma de Auditoría SGSST Para Profesionales Auditores
        </h3>
        <p class="text-gray-600 text-center mb-4">
            Elemento final de la lista con su respectivo botón.
        </p>
        <div class="flex justify-center">
            <button class="bg-info text-white px-4 py-2 rounded-lg font-semibold hover:bg-primary transition">
                Ver Más
            </button>
        </div>
    </div>
  </div>
</section>