<section class="bg-white py-16">
    <div class="container mx-auto px-8">
        <p class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl text-center text-info">Socio Tecnológico de Confianza</p>
        <!-- Título de la sección -->
        <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-5xl font-bold text-center text-info mb-3">
            ¿Cómo podemos ayudarte?
        </h2>

        <!-- Descripción -->
        <p class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl text-center text-info sm:mb-4 md:mb-6 lg:mb-8 xl:mb-10 sm:max-w-xs md:max-w-md lg:max-w-lg xl:max-w-xl mx-auto">
            Somos una empresa que brinda servicios de soluciones integrales de Seguridad, Salud en el trabajo, Medio ambiente y calidad, diseñadas a las necesidades concretas de su empresa.
        </p>  
    </div>
</section>