<section class="bg-white py-12 sm:py-16 md:py-20">
    <div class="container mx-auto px-6 sm:px-8 md:px-12">
        <p class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl text-center text-info leading-relaxed">
            Socio Tecnológico de Confianza
        </p>
        <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-5xl font-bold text-center text-info mb-4 sm:mb-6 md:mb-8">
            ¿Cómo podemos ayudarte?
        </h2>
        <p class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl text-center text-info mx-auto sm:mb-6 md:mb-8 lg:mb-10 xl:mb-12 leading-relaxed max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-3xl">
            Somos una empresa que brinda servicios de soluciones integrales de Seguridad, Salud en el trabajo, Medio ambiente y calidad, diseñadas a las necesidades concretas de su empresa.
        </p>
    </div>
</section>  